---
import Header from '../../layouts/Header.astro'
import Footer from '../../layouts/Footer.astro'
import Layout from '../../layouts/Layout.astro'

const { title, price } = Astro.props
---

<Layout title={title}>
  <Header />
  <main class="max-w-[500px] mx-auto my-10">
    <h1 class="mb-2 leading-8">{title}</h1>
    <h2 class="mb-8 text-2xl">${price}</h2>
    <div class="flex">
      <div>
        <button
          class="accept flex justify-center items-center rounded-lg hover:cursor-pointer hover:text-white hover:bg-orange-500 hover:opacity-90 transition bg-cpo text-white text-3xl py-3 font-bold w-full mb-4"
          >Accept</button
        >
        <button
          class="decline flex justify-center items-center rounded-lg hover:cursor-pointer hover:text-white hover:bg-gray-300 hover:opacity-90 transition bg-cps text-white text-3xl py-3 font-bold w-full"
          >Decline</button
        >
      </div>
    </div>
    <div id="table-container" class="my-6">URL Parameters</div>
  </main>
  <Footer />
</Layout>
