---
import Header from '../layouts/Header.astro'
import Footer from '../layouts/Footer.astro'
import Layout from '../layouts/Layout.astro'
import OS from '../sections/OS.astro'
import FreeFrom from '../sections/FreeFrom.astro'
import ImprovedLife from '../sections/ImprovedLife.astro'
import Versus from '../sections/Versus.astro'
---

<Layout title="New Zealand Recipe Dog Food Rolls - Country Pet">
  <Header />
  <main>
    <OS />
    <FreeFrom />
    <ImprovedLife />
    <Versus />
  </main>
  <Footer />
</Layout>

<style></style>
