---
import Header from '../layouts/Header.astro'
import Footer from '../layouts/Footer.astro'
import Layout from '../layouts/Layout.astro'
import OS from '../sections/OS.astro'
import FreeFrom from '../sections/FreeFrom.astro'
import ImprovedLife from '../sections/ImprovedLife.astro'
import Versus from '../sections/Versus.astro'
import FAQ from '../sections/FAQ.astro'
import Reviews from '../sections/Reviews.astro'
import About from '../sections/About.astro'
---

<Layout title="New Zealand Recipe Dog Food Rolls - Country Pet">
  <Header />
  <main>
    <OS />
    <FreeFrom />
    <ImprovedLife />
    <Versus />
    <Reviews />
    <FAQ />
    <About />
  </main>
  <Footer />
</Layout>

<script is:inline>
  let storedJSON = localStorage.getItem('cart') ? localStorage.getItem('cart') : []
  let storedObjects = storedJSON.length !== 0 ? JSON.parse(storedJSON) : []
  console.log(storedJSON)
  console.log(storedObjects)
</script>
