---
import Image from 'astro/components/Image.astro'

import dog from '../assets/images/improved-placeholder.png'
---

<section>
  <div class="mx-auto mt-10 grid grd-parent px-4 py-3 md:px-6 bg-white text-cpb">
    <h2 class="text-center text-5xl mb-2">Improved Life for Your Best Friend</h2>

    <Image class="mx-auto" src={dog} inferSize alt="Test" />

  </div>
</section>
