---
import Image from 'astro/components/Image.astro'

import versus from '../assets/images/them-v-us.png'
---

<section class="bg-versus">
  <div class="max-w-[900px] mx-auto mt-10 grid grd-parent px-4 py-8 md:px-6 text-cpb">
    <h2 class="text-center text-5xl mb-4">Them v. Us</h2>
    <div class="md:max-w-[90%] mx-auto">
      <p class="text-xl text-cpo text-center mb-8">
        Gently processed pet food means a healthier, happier pet. We deliver the benefits of raw food with the premium
        quality of gently pasteurized, quick frozen preparation.
      </p>
      <p class="text-xl text-cpo text-center mb-4">
        We use humanely-raised high-quality meat, gently pasteurized for flavor, nutrition, and safety, then
        flash-frozen to seal in the good stuff.
      </p>
    </div>

    <Image class="mx-auto" src={versus} alt="Test" />
  </div>
</section>
