---
import Image from 'astro/components/Image.astro'

import logo from '../assets/images/CP-Logo.png'
---

<footer class="footer footer-center max-w-[900px] mx-auto p-10 text-cpo">
  <aside>
    <p class="text-center">Terms  & Conditions | Privacy Policy</p>
    <p class="text-center mt-4">Copyright @ 2024 CountryPet Naturals</p>
    <p class="text-center mt-4">These statements have not been evaluated by the Food & Drug Administration. These products are not intended to diagnose, treat, cure, or prevent any disease. These products are not intended for pets with medical conditions. Use only as directed.</p>
    
    <a class="block mx-auto mt-6 w-full max-w-[200px]" href="#">
      <Image class="w-full" src={logo} alt="Country Pets Logo" width="226" height="70" />
    </a>

  </aside>
</footer>

<script></script>
