---
import Image from 'astro/components/Image.astro'

import logo from '../assets/images/CP-Logo.png'
---

<header
  class="flex flex-wrap bg-white-100 sm:justify-start sm:flex-nowrap z-50 w-full text-sm py-4 border-b-2 border-cpo"
>
  <nav class="bg-white max-w-[1000px] w-full mx-auto px-4 md:px-6" aria-label="Global">
    <div class="relative flex sm:items-center">
      <div class="flex items-center justify-between w-full">
        <a class="text-white flex-none text-xl font-semibold" href="#">
          <Image class="w-[150px] md:w-[170px]" src={logo} alt="Country Pets Logo" width="226" height="70" />
        </a>
        <a class="font-medium text-gray-600 hover:text-gray-400" href="tel:800-XXX-XXXX">800-XXX-XXXX</a>
      </div>
    </div>
  </nav>
</header>

<script></script>
